<head>
    <link rel="stylesheet" href="~/css/zahra-edited.css" asp-append-version="true" />
</head>

<section class="sign-out">
    <div class="body-frame bg-color3">
        <div class="signoutPage">
            <div class="container">
                <div class="signout-circle">
                    <div class="Stext">Are you sure you want <br>to sign out ?</div>
                    <div class="button-container">
                        <button type="submit">SURE</button>
                        <button class="btn-cancel" type="button">CANCEL</button>
                    </div>
                </div>
                <div class="signout-line"></div>
            </div>
        </div>
    </div>
</section>
