<section class="wish-list">
    <div class="title">Wishlist</div>

    <div class="product-info">
        <div class="product-image">
            <img src="images/summer-dress.jpg" alt="" />
        </div>
        <div class="product-detail">
            <div class="product-name">Summer dress</div>
            <div class="product-price">$42.89</div>
            <p class="product-rating">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-light fa-solid fa-star"></i>
                <i class="fa-light fa-solid fa-star"></i>
                <h>(3)</h>
            </p>
        </div>
        <div class="product-icons">
            <div class="product-icons-box">
                <div class="heart"><i class="fa-solid fa-heart"></i></div>
                <div class="bag"><i class="fa-regular fa-bag-shopping"></i></div>
            </div>
        </div>
    </div>

    <hr>

    <div class="product-info">
        <div class="product-image">
            <img src="images/shoulder-bag.jpg" alt="" />
        </div>
        <div class="product-detail">
            <div class="product-name">Shoulder bag</div>
            <div class="product-price">$38.00<span> $30.00</span></div>
            <p class="product-rating">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-light fa-solid fa-star"></i>
                <i class="fa-light fa-solid fa-star"></i>
                <h>(3)</h>
            </p>
        </div>
        <div class="product-icons">
            <div class="product-icons-box">
                <div class="heart"><i class="fa-solid fa-heart"></i></div>
                <div class="bag"><i class="fa-regular fa-bag-shopping"></i></div>
            </div>
        </div>
    </div>

    <hr>

    <div class="product-info">
        <div class="product-image">
            <img src="images/summer-dress-sell.jpg" alt="" />
        </div>
        <div class="product-detail">
            <div class="product-name">Summer dress</div>
            <div class="product-price">$36.00<span>$15.98</span></div>
            <p class="product-rating">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-light fa-solid fa-star"></i>
                <i class="fa-light fa-solid fa-star"></i>
                <h>(3)</h>
            </p>
        </div>
        <div class="product-icons">
            <div class="product-icons-box">
                <div class="heart"><i class="fa-solid fa-heart"></i></div>
                <div class="bag"><i class="fa-regular fa-bag-shopping"></i></div>
            </div>
        </div>
    </div>

    <hr>

    <div class="product-info">
        <div class="product-image">
            <img src="images/hand-bag.jpg" alt="" />
        </div>
        <div class="product-detail">
            <div class="product-name">Hand bag</div>
            <div class="product-price">$24.95</div>
            <p class="product-rating">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-light fa-solid fa-star"></i>
                <i class="fa-light fa-solid fa-star"></i>
                <h>(3)</h>
            </p>
        </div>
        <div class="product-icons">
            <div class="product-icons-box">
                <div class="heart"><i class="fa-solid fa-heart"></i></div>
                <div class="bag"><i class="fa-regular fa-bag-shopping"></i></div>
            </div>
        </div>
    </div>

    <hr>

    <div class="product-info">
        <div class="product-image">
            <img src="images/t-shirt.jpg" alt="" />
        </div>
        <div class="product-detail">
            <div class="product-name">T-shirt</div>
            <div class="product-price">$12.95</div>
            <p class="product-rating">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-light fa-solid fa-star"></i>
                <i class="fa-light fa-solid fa-star"></i>
                <h>(3)</h>
            </p>
        </div>
        <div class="product-icons">
            <div class="product-icons-box">
                <div class="heart"><i class="fa-solid fa-heart"></i></div>
                <div class="bag"><i class="fa-regular fa-bag-shopping"></i></div>
            </div>
        </div>
    </div>

</section>