

<section class="banner_section_left  ">
    <div class="container">
        <h1>Take 50% off now!</h1>
        <a asp-controller="Shopping" asp-action="Index" class="white_button">SHOP NOW</a>
    </div>
</section>