@model Manero.ViewModels.CardGridViewModel

@*Shouldnt be a static list of course ^^ *@

@{
    List<string> allCategories = Model.Products
            .SelectMany(p => p.Categories)
            .Distinct()
            .ToList();
}


<section class="category_section mt-3">
    <div class="container">
        <div class="category_balls">

            @if(allCategories != null)
            {
                @foreach (var category in allCategories)
                {
                    <a asp-controller="Category" asp-action="@category" class="category_ball">
                        <div class="category_image">
                            <img src="/static-images/stock-images/stock1.webp" alt="category image">
                        </div>
                        <p>@category</p>
                    </a>
                }
            }

        </div>
    </div>
</section>