
@*Shouldnt be a static list of course ^^ *@

@{
    string[] categories = {"Men", "Women", "Kids", "Sale", "Shopping", "Sport", "Fishing"};
}


<section class="category_section mt-3">
    <div class="container">
        <div class="category_balls">

            @if(categories != null)
            {
                @foreach (var category in categories)
                {
                    <a asp-controller="Shopping" asp-action="@category" class="category_ball">
                        <div class="category_image">
                            <img src="/static-images/stock-images/black-shoe.jpg" alt="category image">
                        </div>
                        <p>@category</p>
                    </a>
                }
            }

        </div>
    </div>
</section>