<div class="_card">
    <img src="/images/paymentcard.png" />
    <i class="fa-brands fa-cc-visa"></i>
    <p class="card-number">7741   6588   2123   6644</p>
    <p class="card-name">KRISTIN</p>
    <p class="expire">EXP.END</p>
</div>