<div class="promocode">
    <div class="d-flex justify-content-between">
        <div class="d-flex gap-3">
            <img src="/images/placeholder_promocode.svg" />
            <div class="mt-3">
                <h4>Acme Co.</h4>
                <p class="discount-amount">50% off</p>
                <p class="expire-date">Valid until June 30, 2022</p>
            </div>
        </div>
        <button><i class="fa-light fa-copy"></i></button>
    </div>
    <hr />
</div>