@model Manero.ViewModels.ProductPageViewModel

<section class="reviews">

    <div class="review-heading container">
        <h2>Reviews (@Model.Reviews.Count)</h2>
        @*    <a asp-controller="Products" asp-action="Reviews">view all ></a> *@
        <a asp-controller="Products" asp-action="Reviews" asp-route-productName="@Model.Product.ProductName">view all ></a>


    </div>


    @foreach (var review in Model.Reviews)
    {
        <div class="review-card container">
            <img src="~/static-images/review@(review.Id).jpg" alt="review-person-@(review.Id)">
            <div class="review-info">
                <div class="name-date-stars">
                    <div class="name-date">

                        <p class="review-date">@review.ReviewDate.ToString("dd MMM yyyy")</p>
                    </div>
                    <div class="review-stars">
                        @for (int i = 0; i < review.Rating; i++)
                        {
                            <a href=""><i class="fa-solid fa-star" style="color: #fbee00;"></i></a>
                        }
                        @for (int i = 0; i < (5 - review.Rating); i++)
                        {
                            <a href=""><i class="fa-thin fa-star" style="color: #fbee00;"></i></a>
                        }
                    </div>
                </div>
                <p class="review-text">@review.CommentText</p>
            </div>
        </div>
    }

</section>
