
@* There isnt a viewmodel for this one yet *@

<section class="big-screen-product home-page-showcase container">
    <div class="showcase-text">
        <h1>We offer the best shopping around!</h1>
        <a asp-controller="Categories" asp-action="Index" class="black-button">SHOP NOW</a>
    </div>
    <div class="product-img">

      @* Maybe this image will change with a timer or something... *@
        <img src="/static-images/summer-top.jpg" alt="product-img">
        <div class="product-img-navigation">
            <div class="ball"><i class="fa-solid fa-circle"></i></div>
            <div class="ball"><i class="fa-regular fa-circle"></i></div>
            <div class="ball"><i class="fa-solid fa-circle"></i></div>
        </div>
        <div class="product-img-border"></div>
    </div>
</section>