
    <section class="promocodes-header container">
        <div class="_title">
            <a><i class="fa-solid fa-chevron-left"></i></a>
            <h5>Sign up</h5>
            <div></div>
        </div>
    </section>

    <section class="signup container">
        <div class="vertical-line"></div>
        <h4>Sign Up</h4>

        <form class="mb-3" method="post" novalidate>
            <div class="field-div mt-5">
                <div class="input-title">
                    <p>NAME</p>
                </div>
                <input type="text" />
            </div>
            <div class="field-div">
                <div class="input-title">
                    <p>EMAIL</p>
                </div>
                <input type="email" />
            </div>
            <div class="field-div">
                <div class="input-title">
                    <p>PASSWORD</p>
                </div>
                <input type="password" />
            </div>
            <div class="field-div">
                <div class="input-title">
                    <p>CONFIRM PASSWORD</p>
                </div>
                <input type="password" />
            </div>

            <button type="submit" class="black-button">SIGN UP</button>
        </form>

        <div class="text-start">
            <a class="sign-in" href="">Already have an account? Sign in.</a>
        </div>

        <div class="social-media">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-google"></i>
        </div>

    </section>

