<section class="promocodes-header container">
    <div class="_title">
        <a><i class="fa-solid fa-chevron-left"></i></a>
        <h5>My promocodes</h5>
        <div></div>
    </div>
</section>

<section class="track-order container">
    <img src="/images/trackorder_img.svg" />
    <div class="vertical-line"></div>
    <h4>Your order:</h4>
    <p class="order-nr">#100345</p>
</section>

<section class="order-progress container">
    <div class="_group">
        <i class="fa-regular fa-circle-dot"></i>
        <div>
            <h6>Order created</h6>
            <p>We have received your order</p>
        </div>
        <div class="vertical-line"></div>
    </div>
    <div class="_group">
        <i class="fa-regular fa-circle-dot"></i>
        <div>
            <h6>Order confirmed</h6>
            <p>Your order has been confirmed</p>
        </div>
        <div class="vertical-line"></div>
    </div>
    <div class="_group">
        <i class="fa-regular fa-circle-dot"></i>
        <div>
            <h6>Order shipping</h6>
            <p>Estimated for Feb 02, 2022</p>
        </div>
        <div class="vertical-line"></div>
    </div>
    <div class="_group">
        <i class="fa-regular fa-circle"></i>
        <div>
            <h6>Order delivering</h6>
            <p>Estimated for Feb 05, 2022</p>
        </div>
        <div class="vertical-line"></div>
    </div>
    <div class="_group">
        <i class="fa-regular fa-circle"></i>
        <div>
            <h6>Receiving</h6>
            <p>Estimated for Feb 05, 2022</p>
        </div>
    </div>

</section>