<div class="product-part">
    <div class="product-image">
        <img src="/static-images/shoulder-bag.jpg" alt="" />
    </div>
    <div class="product-info">
        <div class="product-info-name">Shoulder bag</div>
        <div class="product-info-price">$38.00 <span>$30.00</span></div>
        <div class="product-info-size">Size: -</div>
        <div class="product-info-color">Color: Black</div>

    </div>
    <div class="product-price">
        <div class="product-info-quantity">
            <div>+</div>
            <div>1</div>
            <div>-</div>
        </div>
    </div>
</div>