<div class="shipping_address">
    <span>
        <p>Home</p>
        <p>Real Avenue 42, Realtown, Realistan...</p>
    </span>
    <input form="order_form" type="radio" name="adress_choice" value="option3">
</div>