@using Manero.Models;
@using Manero.Models.Entities;
@using Manero.ViewModels;


@{
    var CategoryPage = new NavbarViewModel()
            {
                Burger = false,
                MiddleData = "Categories",
                ShoppingCart = true
            };
}

<partial name="/Views/Partials/NavbarPartials/_TopNavbarPartial.cshtml" model="CategoryPage" />


<section class="best_sellers_section ">
    <div class="container">
        <div class="best_sellers_title">

            <h1><p>Category: </p> @ViewContext.RouteData.Values["productCategory"]</h1>
        </div>

        <p style="color:red; text-decoration:underline;">HÄR SKA PRODUKTER LOOPAS UT ENLIGT Sami's SEARCH BY CATEGORY'</p>

    </div>
</section>