<section class="shop-by-category ">
    <div class="container">
        <div class="section-title">
            <h2>Search</h2>
        </div>
        <hr>

        <div class="list-part">
            <div class="container">
                <div class="icon-path">
                    <i>Men</i>
                    <i>Women</i>
                    <i>kids</i>
                    <i>Accessories</i>
                </div>
            </div>
        </div>

        <div class="grid">
            <a href="#" id="category-box-1" class="category-box">
                <div class="category-box-title">
                    Dresses
                </div>
            </a>
            <a href="#" id="category-box-2" class="category-box">
                <div class="category-box-title">
                    Pants
                </div>
            </a>

            <a href="#" id="category-box-3" class="category-box">
                <div class="category-box-title">
                    Accessories
                </div>
            </a>
            <a href="#" id="category-box-4" class="category-box">
                <div class="category-box-title">
                    Shoes
                </div>
            </a>
            <a href="#" id="category-box-5" class="category-box">
                <div class="category-box-title">
                    T-shirts
                </div>
            </a>
        </div>

    </div>
</section>