@using Manero.ViewModels;

@model PaymentCardViewModel
<div class="_card">
    <img src="/static-images/paymentcard.png" />
    <i class="fa-brands @Model.CVVCode"></i>
    <p class="card-number">@Model.CardNumber</p>
    <p class="card-name">@Model.Name</p>
    <p class="expire">@Model.ExpireDate</p>
</div>
