<div class="_card">
    <img src="/static-images/paymentcard.png" />
    <i class="fa-brands @Model.CardType"></i>
    <p class="card-number">@Model.CardNumber</p>
    <p class="card-name">@Model.CardHolderName</p>
    <p class="expire">@Model.CardExpirationDate</p>
</div>
