@{
    ViewData["Title"] = "Checkout";
}

<!-- The use of containers might have f**ed the design a bit, can fix later...//jesper -->
<!-- Page 36-38 -->
<section class="checkout_section mt-5">
    <div class="checkout_border container">
        <!-- Just different title on each page -->
        <div class="checkout_head container">
            <h1>Checkout</h1>
            <a href="">&#60;</a>
        </div>
    </div>

@*  Changed so the toggle collapse works again -Jeppe *@
    <div class="checkout_details">
        <!-- Should loop out all objects. But static for now. -->
        <button class="order_details container" type="button" onclick="toggleVisibility('my_order')">
            <div class="order_title container">
                <h1>My order</h1>
                <h1>£40,9</h1>
            </div>
            <!-- This one contains the hidden information, toggle by button -->
            <div class="d-none" id="my_order">
                <div class="basket">
                    <div class="basket_object">
                        <p>Black sneakers</p>
                        <p><span>1x</span> £20,6</p>
                    </div>
                    <div class="basket_object">
                        <p>White sneakers</p>
                        <p><span>1x</span> £22,3</p>
                    </div>
                </div>
                <div class="order_discount">
                    <p>Discount</p>
                    <p>-£2,0</p>
                </div>
                <div class="delivery_cost">
                    <p>Delivery</p>
                    <p>Free</p>
                </div>
            </div>
        </button>

        <div class="shipping_details container">
            <button class="shipping_title container" type="button" onclick="toggleVisibility('my_shipping')">
                <div class="shipping_text">
                    <h1>Shipping details</h1>
                    <h1>Genericstreet nr 23, Faketown, Långtbortistan... </h1>
                </div>
                <a href="#">&#62;</a>
            </button>
            <!-- This one contains the hidden information, toggle by button -->
            <div class="d-none" id="my_shipping">
                <iframe class="container" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d16281.287102260696!2d17.9565971!3d59.3302677!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssv!2sse!4v1697737962574!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="address_list">
                    <!-- loop out all addresses -->

                    <partial name="/Views/Partials/CartAndCheckoutPartials/_ShippingAddress.cshtml" />
                    <partial name="/Views/Partials/CartAndCheckoutPartials/_ShippingAddress.cshtml" />
                    <partial name="/Views/Partials/CartAndCheckoutPartials/_ShippingAddress.cshtml" />


                    <div id="add_address_form" class="add_shipping_address">
                        <div class="enter_address">
                            <label class="address_label" for="order_form">ENTER AN ADDRESS</label>
                            <input class="adress_input" for="order_form" id="address_input" name="address_input" type="text" placeholder="Enter an address">
                            <input form="order_form" type="radio" name="adress_choice" value="option4">
                        </div>
                        <div class="new_address">
                            <input class="add_current_location" form="order_form" type="radio" name="adress_choice" value="option5">
                            <p>Use current location</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="payment_method container">
            <button class="payment_title container" type="button" onclick="toggleVisibility('my_payment')">
                <div class="payment_text">
                    <h1>Payment method</h1>
                    <h1>7741 ******** 6644</h1>
                </div>
                <a href="#">&#62;</a>
            </button>
            <!-- This one contains the hidden information, toggle by button -->
            <div class="d-none" id="my_payment">
                <div class="payment_options">
                    <h1>Credit cards</h1>
                    <!-- The credit card has different attribute, and should be looped out -->
                    <div class="pay_option credit_card">
                        <p>7741 ******** 6644</p>
                        <input form="order_form" type="radio" name="payment_choice" value="option1">
                    </div>
                    <div class="pay_option credit_card">
                        <p>7674 ******** 1884</p>
                        <input form="order_form" type="radio" name="payment_choice" value="option2">
                    </div>
                    <div class="pay_option credit_card">
                        <a href="#">
                            <p>Add a new card</p>
                            <i class="fa-regular fa-credit-card"></i>
                        </a>
                    </div>

                    <!-- Maybe static options? -->
                    <div class="pay_option">
                        <p>Apple Pay</p>
                        <input form="order_form" type="radio" name="payment_choice" value="option3">
                    </div>
                    <div class="pay_option">
                        <p>Pay Pal</p>
                        <input form="order_form" type="radio" name="payment_choice" value="option4">
                    </div>
                    <div class="pay_option">
                        <p>Cash</p>
                        <input form="order_form" type="radio" name="payment_choice" value="option5">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="order_form" class="container mt-5" action="#" method="post" novalidate>
        <div class="order_comment">
            <label class="input-title" for="checkout_comment">COMMENT</label>
            <textarea class="input" id="checkout_comment" name="checkout_comment" type="textarea" placeholder="Enter your comment"></textarea>
        </div>
        <button type="submit" class="black_button">CONFIRM ORDER</button>
    </form>
</section>


<script>
    function toggleVisibility(collapseId) {
        var element = document.getElementById(collapseId);
        element.classList.toggle("d-none");
    }
</script>