@{
    ViewData["Title"] = "Order placed";
}

<section class="order-confirmation">
    <div class="container">
        <div class="frame">
            <div class="presentation">

                <div class="outer-frame outline-succeeded">
                    <div class="inner-frame">
                        <img src="/images/pattern.svg" />
                        <div class="frame-icon icon-succeeded">
                            <i class="fa-solid fa-check"></i>
                        </div>
                    </div>
                </div>
                <div class="line-container">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <h5>Thank you for your order!</h5>
                <h6>Your order will be delivered on time. Thank you!</h6>
            </div>
            <a href="XXX" target="">
                @* Added classes to buttons *@
                <button class="black-button">VIEW ORDERS</button>
            </a>
            <a href="XXX" target="">
                <div class="white_button">CONTINUE SHOPPING</div>
            </a>
        </div>

    </div>
</section>