@{
    ViewData["Title"] = "Order failed";
}

<section class="order-confirmation">
    <div class="container">
        <div class="frame">
            <div class="presentation">

                <div class="outer-frame outline-failed">
                    <div class="inner-frame">
                        <img src="/images/pattern.svg" />
                        <div class="frame-icon icon-failed">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                </div>

                <div class="line-container">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <h5>Sorry! Your order has failed!</h5>
                <h6>Something went wrong. Please try again to contimue your order.</h6>
            </div>
            <a href="XXX" target="">
                @* Added classes to buttons *@
                <button class="black-button">TRY AGAIN</button>
            </a>
            <a href="XXX" target="">
                <div class="white_button">GO TO MY PROFILE</div>
            </a>
        </div>

    </div>
</section>