@using Manero.Services;


@inject TagsService tagsService

@{
    var products = tagsService.GetTopProducts();
}

@foreach (var product in await products)
{
    <h1>@product.ProductName</h1>

    <h1>@product.Price</h1>

    <p>@product.Rating</p>

    <p>@product.Id</p>



    <hr />
}



<section class="featured_products_section_v2">
    <div class="container">
        <div class="best_sellers_title">
            <a asp-controller="BestSellers" asp-action="ProductFilter"><h1><i class="fa-solid fa-filter"></i> Filters</h1></a>
            <a href="#">Sorting by <span>&#8744;</span></a>
        </div>
        <!-- Grid with autofill function -->
        <div class="big_card_grid">

            <!-- start of card -->
            <div class="product_card">
                <div class="card_top">
                    <!-- can be changed, between classes:
                            "card_tag_new, card_tag_sale and card_tag_top".
                        see the options below -->
                    <div class="card_tag"></div>
                    <img src="/static-images/stock-images/white-shoe.jpg" alt="product">
                    <div class="card_options">
                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                        <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="card_bottom">
                    <div class="card_rating">
                        <div class="card_stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <p>(3)</p>
                    </div>
                    <div class="card_title">White Sneakers</div>
                    <div class="card_price">
                        <p>£20.9</p>
                        <p>£12.9</p>
                    </div>
                </div>
            </div>
            <!-- end of card -->

            <div class="product_card">
                <div class="card_top">
                    <div class="card_tag_sale">SALE</div>
                    <img src="/static-images/stock-images/black-shoe.jpg" alt="product">
                    <div class="card_options">
                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                        <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="card_bottom">
                    <div class="card_rating">
                        <div class="card_stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <p>(3)</p>
                    </div>
                    <div class="card_title">Black Sneakers</div>
                    <div class="card_price">
                        <p>£20.9</p>
                        <p>£12.9</p>
                    </div>
                </div>
            </div>

            <div class="product_card">
                <div class="card_top">
                    <div class="card_tag_top">TOP</div>
                    <img src="/static-images/stock-images/white-shoe.jpg" alt="product">
                    <div class="card_options">
                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                        <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="card_bottom">
                    <div class="card_rating">
                        <div class="card_stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <p>(3)</p>
                    </div>
                    <div class="card_title">White Sneakers</div>
                    <div class="card_price">
                        <p>£20.9</p>
                    </div>
                </div>
            </div>

            <div class="product_card">
                <div class="card_top">
                    <div class="card_tag_new">NEW</div>
                    <img src="/static-images/stock-images/white-shoe.jpg" alt="product">
                    <div class="card_options">
                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                        <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="card_bottom">
                    <div class="card_rating">
                        <div class="card_stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <p>(3)</p>
                    </div>
                    <div class="card_title">White Sneakers</div>
                    <div class="card_price">
                        <p>£20.9</p>
                    </div>
                </div>
            </div>

            <div class="product_card">
                <div class="card_top">
                    <div class="card_tag_sale">SALE</div>
                    <img src="/static-images/stock-images/black-shoe.jpg" alt="product">
                    <div class="card_options">
                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                        <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="card_bottom">
                    <div class="card_rating">
                        <div class="card_stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <p>(3)</p>
                    </div>
                    <div class="card_title">Black Sneakers</div>
                    <div class="card_price">
                        <p>£20.9</p>
                        <p>£12.9</p>
                    </div>
                </div>
            </div>

            <div class="product_card">
                <div class="card_top">
                    <div class="card_tag_top">TOP</div>
                    <img src="/static-images/stock-images/white-shoe.jpg" alt="product">
                    <div class="card_options">
                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                        <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="card_bottom">
                    <div class="card_rating">
                        <div class="card_stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <p>(3)</p>
                    </div>
                    <div class="card_title">White Sneakers</div>
                    <div class="card_price">
                        <p>£20.9</p>
                    </div>
                </div>
            </div>

            <div class="product_card">
                <div class="card_top">
                    <div class="card_tag_new">NEW</div>
                    <img src="/static-images/stock-images/white-shoe.jpg" alt="product">
                    <div class="card_options">
                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                        <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="card_bottom">
                    <div class="card_rating">
                        <div class="card_stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <p>(3)</p>
                    </div>
                    <div class="card_title">White Sneakers</div>
                    <div class="card_price">
                        <p>£20.9</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>