/* Jag importerar inte SF Pro Text, då det verkar vara en Apple font.  */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');


:root {

    /* Colours */
    --color-theme: #DBE3F5;
    --color-theme-black: #111111;
    --color-white: #FFFFFF;
    --color-text-gray: #626262;
    --color-text-red: #F4303C;
    --color-text-blue: #B3B9C7;
    --color-text-yellow: #EF962D;
    --color-stars: #FFBE00;
    --color-new: #CFA93F;
    --color-sale: #69864D;
    --color-top: #864D7D;
    --color-success: #00824B;
    --color-fail: #F4303C; /* This is the same colour as text red */

    /* Font-details */
    --font-mulish: 'Mulish', sans-serif;
    --light-font: 300;
    --regular-font: 400;
    --semibold-font: 600;
    --bold-font: 700;
    

}

* {
  font-family: var(--font-mulish);
}

.white_button {
  background-color: var(--color-white);
  color: var(--color-theme-black);
  text-decoration: none;
  font-size: 14px;
  font-weight: var(--semibold-font);
  font-family: var(--font-mulish);
  padding: 15px 25px;
  border-radius: 45px;
  border: none;
  text-align: center;
  transition: color ease-in 250ms, background ease-in 250ms;
}
  .white_button:hover {
      background-color: var(--color-theme-black);
      color: var(--color-white);
  }

.banner_section {
  background-color: var(--color-theme);
  margin: 50px 0;
  height: 150px;
  padding: 20px;
  
}
.banner_section .container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
}
  .banner_section h1 {
    color: white;
    font-weight: var(--bold-font);
    font-size: 22px;
  }



.best_sellers_section, .featured_products_section {
  position: relative;
  padding: 10px 0px;
  margin-top: 50px;
}

.best_sellers_section .best_sellers_title, 
.featured_products_section .featured_products_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: calc(100vw - 24px);
}
  .best_sellers_section .best_sellers_title h1, 
  .featured_products_section .featured_products_title h1 {
    font-weight: var(--bold-font);
    font-size: 20px;
    margin: 0;
  }
  .best_sellers_section .best_sellers_title a, 
  .featured_products_section .featured_products_title a {
    text-decoration: none;
    color: var(--color-theme-black);
    font-size: 16px;
  }
    .best_sellers_section .best_sellers_title a span, 
    .featured_products_section .featured_products_title a span {
      font-weight: var(--bold-font);
      font-size: 18px;
    }

.small_card_slider {
  display: grid;
  gap: 20px;
/* fix position later with javascript */
  grid-auto-flow: column;
  overflow: hidden;
  justify-content: space-between;
}
  .small_card_slider .product_card  {
    min-width: 140px;
  }
    .small_card_slider .product_card .card_top img {
      min-height: 170px;
      width: 100%;
    }

.big_card_slider {
  display: grid;
  gap: 20px;
/* fix position later with javascript */
  grid-auto-flow: column;
  overflow: hidden;
  justify-content: space-between;
}
  .big_card_slider .product_card .card_top img {
    width: 100%;
    min-height: 250px;
  }

.big_card_slider .product_card  {
  min-width: 200px;
}
  .product_card .card_top {
    position: relative;
    overflow: hidden;
  }
    .product_card .card_top img {
      width: 100%;
      height: 100%;
    }
    .product_card .card_top .card_tag_sale {
      position: absolute;
      background-color: var(--color-sale);
      font-weight: var(--bold-font);
      color: var(--color-white);
      font-size: 8px;
      padding: 3px 7px;
      transition: all 250ms ease-in;
    }
    .product_card .card_top .card_tag_top {
      position: absolute;
      background-color: var(--color-top);
      font-weight: var(--bold-font);
      color: var(--color-white);
      font-size: 8px;
      padding: 3px 7px;
      transition: all 250ms ease-in;
    }
    .product_card .card_top .card_tag_new {
      position: absolute;
      background-color: var(--color-new);
      font-weight: var(--bold-font);
      color: var(--color-white);
      font-size: 8px;
      padding: 3px 7px;
      transition: all 250ms ease-in;
    }
    .product_card .card_top .card_options {
      position: absolute;
      right: 5%;
      top: 2%;
      display: flex;
      flex-direction: column;
      transition: all 250ms ease-in;
      gap: 10px;
    }
      .product_card .card_top .card_options a {
        text-decoration: none;
        color: var(--color-text-gray);
        font-size: 25px;
        transition: all 250ms ease-in;
      }

  .product_card .card_bottom {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
  }
    .product_card .card_bottom .card_rating {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 12px;
    }
      .product_card .card_bottom .card_rating .card_stars{
        color: var(--color-text-yellow);
      }
      .product_card .card_bottom .card_rating p {
        margin: 0;
      }
    .product_card .card_bottom .card_title{
      font-size: 14px;
    }
    .product_card .card_bottom .card_price{
      display: flex;
      gap: 10px;
      font-size: 14px;
      font-weight: var(--semibold-font);
    }
/* add javascript if second child, put line through first child... */
    .product_card .card_bottom .card_price :nth-child(2) {
      color: var(--color-text-red);
    }




@media  (min-width: 576px) {
    
    .best_sellers_section, 
    .featured_products_section {
      overflow: hidden;
    }
    
    .small_card_slider {
      
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      overflow: visible;

    }

    .big_card_slider {
    /* fix position later with javascript */
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      overflow: visible;
    }

    .best_sellers_section .best_sellers_title, 
    .featured_products_section .featured_products_title  {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

}

@media  (min-width: 768px) {

  .best_sellers_section, .featured_products_section {
    border: 2px solid var(--color-theme);
    border-style: solid none solid none;
    padding: 30px 0px;
  }

  .best_sellers_section .best_sellers_title {
    margin-bottom: 30px;
  }

  .best_sellers_section .best_sellers_title h1, 
  .featured_products_section .featured_products_title h1 {
    font-size: 30px;
  }
  .best_sellers_section .best_sellers_title a, 
  .featured_products_section .featured_products_title a {
    font-size: 20px;
  }
    .best_sellers_section .best_sellers_title a span, 
    .featured_products_section .featured_products_title a span {
      font-size: 24px;
    }

  .product_card  {
    max-width: 300px;
  }

  .product_card .card_top .card_options {
    position: absolute;
    right: -20%;
    top: 2%;
    display: flex;
    flex-direction: column;
    transition: all 250ms ease-in;
    gap: 10px;
  }
  .product_card:hover .card_top .card_tag_sale , 
  .product_card:hover .card_top .card_tag_top ,
  .product_card:hover .card_top .card_tag_new {
    font-size: 20px;
    padding: 5px 10px;
  }

  .product_card:hover .card_top .card_options {
    right: 5%;
  }

  .product_card .card_top .card_options a:hover {
    color: var(--color-success);
    font-size: 35px;
  }


}

@media  (min-width: 992px) {
    


}

@media  (min-width: 1200px) {
    


}

@media  (min-width: 1400px) {
    


}