/* Jag importerar inte SF Pro Text, då det verkar vara en Apple font.  */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');


:root {

    /* Colours */
    --color-theme: #DBE3F5;
    --color-theme-black: #111111;
    --color-white: #FFFFFF;
    --color-text-gray: #626262;
    --color-text-red: #F4303C;
    --color-text-blue: #B3B9C7;
    --color-text-yellow: #EF962D;
    --color-stars: #FFBE00;
    --color-new: #CFA93F;
    --color-sale: #69864D;
    --color-top: #864D7D;
    --color-success: #00824B;
    --color-fail: #F4303C; /* This is the same colour as text red */

    /* Font-details */
    --font-mulish: 'Mulish', sans-serif;
    --light-font: 300;
    --regular-font: 400;
    --semibold-font: 600;
    --bold-font: 700;
    

}

* {
  font-family: var(--font-mulish);
}

.white_button {
  background-color: var(--color-white);
  color: var(--color-theme-black);
  text-decoration: none;
  font-size: 14px;
  font-weight: var(--semibold-font);
  font-family: var(--font-mulish);
  padding: 15px 25px;
  border-radius: 45px;
  border: none;
  text-align: center;
  transition: color ease-in 250ms, background ease-in 250ms;
}
  .white_button:hover {
      background-color: var(--color-theme-black);
      color: var(--color-white);
  }



.banner_section_left {
  background-color: var(--color-theme);
  margin: 50px 0;
  padding: 20px 0px;  
}
.banner_section_right {
  background-color: var(--color-theme);
  margin: 50px 0;
  padding: 20px 0px;  
}
.banner_section_left .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.banner_section_right .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
  .banner_section_left h1, .banner_section_right h1 {
    color: white;
    font-weight: var(--bold-font);
    font-size: 22px;
  }

.best_sellers_section, .featured_products_section, 
.featured_products_section_v2 {
  position: relative;
  padding: 10px 0px;
  margin-top: 50px;
}

.best_sellers_title, .featured_products_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: calc(100vw - 24px);
}
  .best_sellers_title h1,
  .featured_products_title h1 {
    font-weight: var(--bold-font);
    font-size: 20px;
    margin: 0;
  }
  .best_sellers_title a, 
  .featured_products_title a {
    text-decoration: none;
    color: var(--color-theme-black);
    font-size: 16px;
  }
    .best_sellers_title a span, .featured_products_title a span {
      font-weight: var(--bold-font);
      font-size: 18px;
    }

.big_card_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
  .big_card_grid .product_card  {
    width: 100%;
  }
    .big_card_grid .product_card .card_top img {
      height: 170px;
    }

.small_card_slider {
  display: grid;
  gap: 20px;
/* fix position later with javascript */
  grid-auto-flow: column;
  overflow: hidden;
  justify-content: space-between;
}
  .small_card_slider .product_card  {
    width: 140px;
  }
    .small_card_slider .product_card .card_top img {
      height: 170px;
      border: 2px solid var(--color-theme);
    }

.big_card_slider {
  display: grid;
  gap: 20px;
/* fix position later with javascript */
  grid-auto-flow: column;
  overflow: hidden;
  justify-content: space-between;
}
  .big_card_slider .product_card .card_top img {
    height: 250px;
    border: 2px solid var(--color-theme);
  }

.big_card_slider .product_card  {
  width: 200px;
}

  .product_card .card_top {
    position: relative;
    overflow: hidden;
  }
    .product_card .card_top img {
      width: 100%;
      height: 100%;
    }
    .product_card .card_top .card_tag_sale {
      position: absolute;
      background-color: var(--color-sale);
      font-weight: var(--bold-font);
      color: var(--color-white);
      font-size: 8px;
      padding: 3px 7px;
      transition: all 250ms ease-in;
    }
    .product_card .card_top .card_tag_top {
      position: absolute;
      background-color: var(--color-top);
      font-weight: var(--bold-font);
      color: var(--color-white);
      font-size: 8px;
      padding: 3px 7px;
      transition: all 250ms ease-in;
    }
    .product_card .card_top .card_tag_new {
      position: absolute;
      background-color: var(--color-new);
      font-weight: var(--bold-font);
      color: var(--color-white);
      font-size: 8px;
      padding: 3px 7px;
      transition: all 250ms ease-in;
    }
    .product_card .card_top .card_options {
      position: absolute;
      right: 5%;
      top: 2%;
      display: flex;
      flex-direction: column;
      transition: all 250ms ease-in;
      gap: 10px;
    }
      .product_card .card_top .card_options a {
        text-decoration: none;
        color: var(--color-text-gray);
        font-size: 25px;
        transition: all 250ms ease-in;
      }

  .product_card .card_bottom {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
  }
    .product_card .card_bottom .card_rating {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 12px;
    }
      .product_card .card_bottom .card_rating .card_stars{
        color: var(--color-text-yellow);
      }
      .product_card .card_bottom .card_rating p {
        margin: 0;
      }
    .product_card .card_bottom .card_title{
      font-size: 14px;
    }
    .product_card .card_bottom .card_price{
      display: flex;
      gap: 10px;
      font-size: 14px;
      font-weight: var(--semibold-font);
    }
/* add javascript if second child, put line through first child... */
    .product_card .card_bottom .card_price :nth-child(2) {
      color: var(--color-text-red);
    }

.category_section .container {
  position: relative;
  overflow: hidden;
}

.category_section .category_balls {
  width: 200%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 0;
}
.category_section .category_balls .category_ball {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 70px;
  cursor:default;
  text-decoration: none;
}
.category_section .category_balls .category_ball .category_image {
  background-color: var(--color-theme);
  border: var(--color-theme) 2px solid;
  border-radius: 50px;
  height: 70px;
  width: 70px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.category_section .category_balls .category_ball .category_image img {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}
  .category_section .category_balls .category_ball:hover .category_image img {
    height: 120%;
    width: 120%;
    left: -10%;
    top: -10%;
  }
.category_section .category_balls .category_ball p {
  font-weight: var(--semibold-font);
  font-size: 14px;
  color: var(--color-theme-black);
  cursor: pointer;
}


/* another option for product card
maybe swap between them with js on phone/computer */
.small_card_flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  .small_card_flex .small_product_card {
    display: flex;
    height: 100px;
    position: relative;
  }
    .small_card_flex .small_product_card .small_card_options{
      position: absolute;
      right: 0;
      color: var(--color-text-gray);
    }
      .small_card_flex .small_product_card .small_card_options a{
        color: var(--color-text-gray);
      }
      .small_card_flex .small_product_card .small_card_options :nth-child(2){
        display: none;
      }
    .small_card_flex .small_product_card .card_right{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin-left: 20px;
      gap: 10px;
    }
    .small_card_flex .small_product_card .card_right .card_title{
      font-size: 14px;
    }
    
      .small_card_flex .small_product_card .card_right .card_rating{
        display: flex;
        gap: 5px;
        font-size: 12px;
      }
        .small_card_flex .small_product_card .card_right .card_rating .card_stars{
          color: var(--color-text-yellow);
        }
      .small_card_flex .small_product_card .card_right .card_price{
        display: flex;
        gap: 20px;
        font-size: 14px;
        font-weight: var(--semibold-font);
      }
      .small_card_flex .small_product_card .card_right .card_price :nth-child(2) {
        color: var(--color-text-red);
      }

        .small_card_flex .small_product_card .card_right .card_price p{
          margin: 0;
        }
    .small_card_flex .small_product_card .card_left{
      width: 100px;
      position: relative;
    }
      .small_card_flex .small_product_card .card_left .card_tag_new {
        position: absolute;
        background-color: var(--color-new);
        font-weight: var(--bold-font);
        color: var(--color-white);
        font-size: 8px;
        padding: 3px 7px;
        transition: all 250ms ease-in;
      }
      .small_card_flex .small_product_card .card_left .card_tag_top {
        position: absolute;
        background-color: var(--color-top);
        font-weight: var(--bold-font);
        color: var(--color-white);
        font-size: 8px;
        padding: 3px 7px;
        transition: all 250ms ease-in;
      }
      .small_card_flex .small_product_card .card_left .card_tag_sale {
        position: absolute;
        background-color: var(--color-sale);
        font-weight: var(--bold-font);
        color: var(--color-white);
        font-size: 8px;
        padding: 3px 7px;
        transition: all 250ms ease-in;
      }
      .small_card_flex .small_product_card .card_left img{
        width: 100%;
        height: 100%;
      }


@media  (min-width: 576px) {
    
    .best_sellers_section, 
    .featured_products_section, 
    .featured_products_section_v2 {
      overflow: hidden;
    }
    
    .small_card_slider {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }

    .big_card_slider {
    /* fix position later with javascript */
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .best_sellers_title, .featured_products_title  {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .small_card_flex .small_product_card {
      border: var(--color-theme) 1px solid;
      border-style:  solid none;
    }

}

@media  (min-width: 768px) {
  .best_sellers_section .container, .featured_products_section .container,
  .featured_products_section_v2 .container {
    border: 2px solid var(--color-theme);
    border-style: none none solid none;
  }

  .best_sellers_section, .featured_products_section,
  .featured_products_section_v2  {
    padding: 30px 0px;
  }

  .best_sellers_title, .featured_products_title {
    margin-bottom: 30px;
  }

  .best_sellers_title h1, .featured_products_title h1 {
    font-size: 30px;
  }
  .best_sellers_title a, .featured_products_title a {
    font-size: 20px;
  }
    .best_sellers_title a span, .featured_products_title a span {
      font-size: 24px;
    }

.big_card_grid {
  grid-template-columns: 1fr 1fr 1fr;
}

  .product_card  {
    max-width: 300px;
  }

  .product_card .card_top .card_options {
    position: absolute;
    right: -20%;
    top: 2%;
    display: flex;
    flex-direction: column;
    transition: all 250ms ease-in;
    gap: 10px;
  }
  .product_card:hover .card_top .card_tag_sale , 
  .product_card:hover .card_top .card_tag_top ,
  .product_card:hover .card_top .card_tag_new,
  .small_product_card:hover .card_left .card_tag_sale,
  .small_product_card:hover .card_left .card_tag_top, 
  .small_product_card:hover .card_left .card_tag_new {
    font-size: 20px;
    padding: 5px 10px;
  }

  .product_card:hover .card_top .card_options {
    right: 5%;
  }

  .product_card .card_top .card_options a:hover {
    color: var(--color-success);
    font-size: 35px;
  }

  .small_card_flex  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
    .small_card_flex .small_product_card {
      flex-direction: column;
      height: auto;
      width: 200px;
      border: none;
    }
      .small_card_flex .small_product_card .card_left {
        width: 100%;
      }
        .small_card_flex .small_product_card .card_left img {
          width: 100%;
          height: 200px;
        }
      .small_card_flex .small_product_card .card_right .card_title {
        grid-area: title;
      }
      .small_card_flex .small_product_card 
      .card_right .card_rating {
        align-items: center;
        margin: 0;
        grid-area: stars;
      }
      .small_card_flex .small_product_card 
      .card_right .card_rating p {
        margin: 0;
      }
      .small_card_flex .small_product_card 
      .card_right .card_price {
        grid-area: price;
      }
      .small_card_flex .small_product_card .card_right {
        margin: 5px 0 0 0;
        display: grid;
        gap: 5px;
        grid-template-areas:'stars'
                  'title'
                  'price';
      }
      .small_card_flex .small_product_card .small_card_options {
        opacity: 0%;
        right: 10px;
        transition: all 250ms ease-in;
      }
      .small_card_flex .small_product_card .small_card_options :nth-child(2) {
        display: block;
      }
      .small_card_flex .small_product_card:hover .small_card_options {
        opacity: 100%;
        font-size: 20px;
      }
      
}

@media  (min-width: 992px) {
  .banner_section_left .container,
  .banner_section_right .container {
    align-items: center;
    gap: 20px;
    padding: 30px 0;
  }
    .banner_section_left h1, 
    .banner_section_right h1 {
      font-size: 30px;
    }
    .banner_section_left a,
    .banner_section_right a {
      width: 20%;
    }

    .big_card_grid {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
      .big_card_grid .product_card  {
        width: 160px;
      }
        .big_card_grid .product_card .card_top img {
          height: 170px;
        }

  .category_section .category_balls {
    width: 100%;
    justify-content: space-between;
    display: grid;
    grid-auto-flow: column;
  }
}

@media  (min-width: 1200px) {
    


}

@media  (min-width: 1400px) {
    


}