@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
@using Manero.Models

@await Html.PartialAsync("_AccountHeader", new AccountHeaderViewModel
{
    Title = "MANERO",
    ShowBackButton = false
})
<div class="d-flex justify-content-center align-items-center mt-3">
    <img src="~/svg/forgot_password.svg" alt="Description" />
</div>

<div class="d-flex justify-content-center align-items-center flex-column mt-5" style="width: 90%; padding: 0 2rem; margin: 0 auto">
    <h3 class="mid-title">Your password has been reset!</h3>
    <p>
        Please check your email to reset your password.
    </p>
     <a asp-page="Login" class="a-btn mt-3">DONE</a>


</div>

