@{
     Layout = "_LayoutWithoutNavbar";

}

@*  <link asp-append-version="true" rel="stylesheet" href="~/css/zahra.css" />  *@



<body>
    <div class="circle-container bg-color1">
        <div class="container">
            <div class="white-circle">
                <a class="text" asp-controller="welcome" asp-action="onboardingFirst">MANERO</a>
                <div class="pagination"></div>
            </div>
            <div class="circle-line"></div>
        </div>
    </div>
</body>
