.input-holder {
    position: relative;

    input {
        margin-top: 1rem;
        border: solid 1px var(--color-light-blue);
        padding: 0.8rem 2.2rem;
        border-radius: 5rem;
        width: 100%;
        outline: none;
    }

   label {
        position: absolute;
        left: 30px;
        top: 8px;
        background-color: var(--color-white);
        padding: 0 0.5rem;
        text-transform: uppercase;
        color: var(--color-text-gray);
        font-size: 12px;
    }
}

.grey-checkbox {
    input[type="checkbox"] {
        display: none;
    }

    .custom-checkbox {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        font-size: 14px;
        color: var(--color-text-gray);
        font-weight: var(--semibold-font);
    }

    .custom-checkbox .checkmark {
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid var(--color-light-blue);
        border-radius: 5px;
    }

    .custom-checkbox input[type="checkbox"]:checked + .checkmark {
        background: var( --color-light-blue);
        border-color: var( --color-light-blue);
    }

    .custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
        content: "";
        position: absolute;
        left: 5px;
        top: 5px;
        width: 10px;
        height: 10px;
        background: var( --color-light-blue);
        border-radius: 5px;
    }
}

