@using Manero.ViewModels;
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }

    //Different top navbars
    var HomePage = new NavbarViewModel()
            {
                Burger = true,
                MiddleData = "Manero",
                ShoppingCart = true

            };


    var SearchPage = new NavbarViewModel()
            {
                Burger = true,
                MiddleData = "Search",
                ShoppingCart = true

            };

    var TitlePage = new NavbarViewModel()
            {
                Burger = false,
                MiddleData = "Best sellers",
                ShoppingCart = true

            };
}


<partial name="/Views/Partials/NavbarPartials/_TopNavbarPartial.cshtml" model="HomePage" />

@RenderBody()

@* christian 9/11
<div class="d-none">
    <h1>Manage your account</h1>
    <div>
        <h2>Change your account settings</h2>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
*@

@section Scripts {
    @RenderSection("Scripts", required: false)
}
