@page
@model IndexModel
@using Manero.ViewModels
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;


    var placeholderUser = new UserProfileViewModel
    {
        ImageUrl = "/static-images/pexels-miggy-rivera-5665104.jpg"
    };


    var HomePage = new NavbarViewModel()
    {
        Burger = true,
        MiddleData = "Manero",
        ShoppingCart = true

    };
}

<partial name="/Views/Partials/NavbarPartials/_TopNavbarPartial.cshtml" model="HomePage" />

<section class="user-profile">
    <div class="container pt-5">
        <div class="frame">
            <div class="presentation">
                <div class="line-container">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <div class="frame">
                    <img src=@placeholderUser.ImageUrl />
                </div>
                <div class="frame-icon">
                    <a asp-controller="UserProfile" asp-action="UserProfileEdit"><i class="fa-solid fa-pen-to-square"></i></a>
                </div>
                <h5>@Model.Username</h5>
                <h6></h6>
            </div>
            <div class="navigation-fields">
                <a class="navigation-field" asp-controller="UserProfile" asp-action="UserAddress">
                    <div class="left">
                        <i class="fa-solid fa-gift"></i>
                        <div class="label">My address</div>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <a class="navigation-field" asp-controller="UserProfile" asp-action="UserOrderHistory">
                    <div class="left">
                        <i class="fa-solid fa-gift"></i>
                        <div class="label">Order history</div>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <a class="navigation-field" asp-controller="UserProfile" asp-action="UserPaymentMethods">
                    <div class="left">
                        <i class="fa-solid fa-gift"></i>
                        <div class="label">Payment method</div>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>

                <a class="navigation-field" asp-controller="UserProfile" asp-action="UserPromoCodes">
                    <div class="left">
                        <i class="fa-solid fa-gift"></i>
                        <div class="label">My promocodes</div>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <a class="navigation-field" asp-controller="SignOut" asp-action="Index">
                    <div class="left">
                        <i class="fa-solid fa-gift"></i>
                        <div class="label">Sign out</div>
                    </div>
                    <div></div>
                </a>
            </div>
        </div>
    </div>
</section>




@*

@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
