<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

<body class="bg-color3">
    <div class="signoutPage">
        <div class="container">
            <div class="signout-circle">
                <div class="Stext">Are you sure you want <br>to sign out ?</div>
                <div class="button-container">
                    <button>SURE</button>
                    <button class="btn-cancel">CANCEL</button>
                </div>
            </div>
            <div class="signout-line"></div>
        </div>
    </div>
</body>
