<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

<section class="user-profile">
    <div class="container pt-5">
        <div class="frame">
            <div class="presentation">
                <div class="line-container">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <div class="frame">
                    <img src="" />
                    <div class="frame-icon">
                        <a asp-controller="UserProfile" asp-action="UserProfileEdit"><i class="fa-solid fa-pen-to-square"></i></a>
                    </div>
                </div>
                <h5>Firstname Lastname</h5>
                <h6>firstname.lastname@domain.com</h6>
            </div>
            <div class="navigation-fields">
                <a class="navigation-field" asp-controller="UserProfile" asp-action="UserAddress">
                    <div>
                        <i class="fa-solid fa-gift"></i>
                        <div class="label">My address</div>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <a class="navigation-field" asp-controller="UserProfile" asp-action="UserOrderHistory">
                    <div class="left">
                        <i class="fa-solid fa-gift"></i>
                        <div class="label">Order history</div>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <a class="navigation-field" asp-controller="UserProfile" asp-action="UserPaymentMethods">
                    <div>
                        <i class="fa-solid fa-gift"></i>
                        <div class="label">Payment method</div>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>

                <a class="navigation-field" asp-controller="UserProfile" asp-action="UserPromoCodes">
                    <div>
                        <i class="fa-solid fa-gift"></i>
                        <div class="label">My promocodes</div>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <a class="navigation-field" asp-controller="UserProfileSignOut" asp-action="UserProfileSignOutIndex">
                    <div>
                        <i class="fa-solid fa-gift"></i>
                        <div class="label">Sign out</div>
                    </div>
                    <div></div>
                </a>
            </div>
        </div>
    </div>
</section>
