@using Manero.Services
@using Manero.ViewModels;
@inject UserService userService

@{
    ViewData["Title"] = "My Promo codes";

    var user = await userManager.GetUserAsync(User);
    string userId = user.Id;

    var HomePage = new NavbarViewModel()
    {
        Burger = true,
        MiddleData = "Manero",
        ShoppingCart = true

    };
}

<partial name="/Views/Partials/NavbarPartials/_TopNavbarPartial.cshtml" model="HomePage" />

<section class="promocodes-header container">
    <div class="_title">
        <a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fa-solid fa-chevron-left"></i></a>
        <h5>@ViewData["Title"]</h5>
        <div></div>
    </div>
    <div class="buttons">
        <button class="_active">Current</button>
        <button>Used</button>
    </div>
</section>

<section class="my-promocodes container">
    <hr />
    @foreach (var promoCode in await userService.GetPromoCodesByUserId(userId))
    {
        @if (promoCode != null) {
            <partial name="/Views/Partials/UserProfilePartials/_UserPromoCodePartial.cshtml" model="promoCode" />
        }
        else
        {
            <section class="no-promocodes container d-none">
                <img src="/images/promocode_img.svg" />
                <div class="vertical-line"></div>
                <h4>Your don’t have promocodes yet!</h4>
                <p>Qui ex aute ipsum duis. Incididunt adipisicing voluptate laborum</p>
                <div class="input-title">
                    <p>ENTER THE VOUCHER</p>
                </div>
                <input type="text" />
                <div>
                    <button class="black-button">SUBMIT</button>
                </div>
            </section>
        }
    }

</section>



