<!-- part by: christian -->

<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

<section class="user-profile">
    <div class="container">

        <div class="navigation-header">
            <a asp-controller="UserProfile" asp-action="Index"><i class="fa-solid fa-chevron-left"></i></a>
            <h5>@ViewData["Title"]</h5>
            <div></div>
        </div>

        <div class="frame">
            <div class="presentation">
                <div class="line-container">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <div class="frame">
                    <img src="" />
                    <div class="frame-icon"><i class="fa-solid fa-camera"></i></div>
                </div>
            </div>

            <form action="/action_page.php">
                <div class="input-title">
                    <p>NAME</p>
                </div>
                <input type="text" id="fname" name="fname">

                <div class="input-title">
                    <p>EMAIL</p>
                </div>
                <input type="text" id="fname" name="fname">

                <div class="input-title">
                    <p>PHONE NUMBER</p>
                </div>
                <input type="text" id="fname" name="fname">

                <div class="input-title">
                    <p>LOCATION</p>
                </div>
                <input type="text" id="fname" name="fname">

                <button input type="submit" value="Submit">SUBMIT</button>
            </form>


        </div>
    </div>
</section>
 