@using Manero.ViewModels
@model Manero.ViewModels.OrderViewModel

<!-- part by: christian -->
@{
    ViewData["Title"] = "Order history";



    //placeholder
    var placeholderOrder = new OrderViewModel()
            {
                OrderNumber = 123456,
                OrderDate = DateTime.Now.AddDays(-2),
                OrderStatus = "Delivered",
                OrderTotal = 354.32M,

                OrderItem = "Kids Red Hoodie, S, pink",
                OrderItemQuantity = 1,
                OrderItemPrice = 34.95M
            };
}

<section class="order-history ps-5">

    <div class="container">
        <div class="navigation-header">
            <a class="" asp-controller="UserProfile" asp-action="Index">
                <i class="fa-solid fa-chevron-left"></i></a>
            <h5>@ViewData["Title"]</h5>
            <div></div>
        </div>



        <partial name="/Views/Partials/UserProfilePartials/_UserOrderHistoryPartial.cshtml" model="placeholderOrder" />


        
    </div>
</section>


