@{
    ViewData["Title"] = "My address";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

<section class="myaddress-section">

    <!-- added for navigation / christian -->

    <div class="container">
        <div class="navigation-header">
            <a asp-controller="UserProfile" asp-action="Index"><i class="fa-solid fa-chevron-left"></i></a>
            <h5>@ViewData["Title"]</h5>
            <div></div>
        </div>

        <div class="flex-container">
            <div class="flex-item-left">
                <div class="black-circle"><i class="fa-sharp fa-regular fa-home fa-xl"></i></div>
                <div class="info">
                    <h5>Home</h5>
                    <p>8000 S Kirkland Ave. Chicago...</p>
                </div>
                <div class="pancel">
                    <i class="fa-thin fa-pencil"></i>
                </div>
            </div>
            <hr>
            <div class="flex-item-left">
                <div class="black-circle"><i class="fa-regular fa-briefcase fa-xl"></i></div>
                <div class="info">
                    <h5>Work</h5>
                    <p>8000 S Kirkland Ave. Chicago...</p>
                </div>
                <div class="pancel">
                    <i class="fa-thin fa-pencil"></i>
                </div>
            </div>
            <hr>
            <div class="flex-item-left">
                <div class="black-circle"><i class="fa-regular fa-location-dot fa-xl"></i></div>
                <div class="info">
                    <h5>Other</h5>
                    <p>8000 S Kirkland Ave. Chicago...</p>
                </div>
                <div class="pancel">
                    <i class="fa-thin fa-pencil"></i>
                </div>
            </div>
            <hr>
            <a asp-controller="userprofile" asp-action="useraddressadd" class="add mt-5">
                <div class="plus"><i class="fa-regular fa-plus"></i></div>
                <div class="add-address">
                    <p>Add a new address</p>
                </div>
            </a>

        </div>

    </div>
</section>
