@model Manero.ViewModels.PaymentCardAddViewModel

@{
    ViewData["Title"] = "Add new card";

    string placeholderName = "Firstname Lastname";
    string placeholderNumber = "1111 2222 3333 4444";
    string placeholderDate = "00/00";
    string placeholderCode = "123";
}


<section class="edit-card-header container">
    <div class="_title">
        <a asp-controller="UserProfile" asp-action="UserPaymentMethods"><i class="fa-solid fa-chevron-left"></i></a>
        <h5>@ViewData["Title"]</h5>
        <div></div>
    </div>
</section>

<section class="edit-card container">

    <div class="vertical-line"></div>
    <div class="d-flex justify-content-center">
        <div class="_card mt-3">
            <img src="/static-images/paymentcard.png" />
            <i class="fa-brands fa-cc-visa"></i>
            <p class="card-number">@placeholderNumber</p>
            <p class="card-name">@placeholderName</p>
            <p class="expire">@placeholderDate</p>
        </div>
    </div>


</section>

<section class="card-details container">
    <form class="mb-3" method="post" novalidate>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="field-div mt-5">
            <label asp-for="CardHolderName" class="label-text"></label>
            <input asp-for="CardHolderName" value=@placeholderName />
        </div>
        <div class="d-flex justify-content-between card-number">
            <div class="field-div">
                <label asp-for="CardNumber" class="label-text"></label>
                <input asp-for="CardNumber" value=@placeholderNumber />
            </div>
            <button><i class="fa-light fa-camera"></i></button>
        </div>

        <div class="d-flex">
            <div class="field-div">
                <label asp-for="CardExpirationDate" class="label-text"></label>
                <input asp-for="CardExpirationDate" value=@placeholderDate />
            </div>
            <div class="field-div">
                <label asp-for="CardCVV" class="label-text"></label>
                <input asp-for="CardCVV" type="password" value=@placeholderCode />
            </div>
        </div>


        <button type="submit" class="black-button mt-5">SAVE CARD</button>
    </form>
</section>


