@{
    ViewData["Title"] = "Cart is Empty";
}


<section class="no-promocodes container mt-4">
    <img src="images/promocode_img.svg" />
    <div class="vertical-line"></div>
    <h4>Your cart is empty!</h4>
    <p>Looks like you haven't made your order yet.</p>
    <div>
        <button class="black-button">SHOP NOW</button>
    </div>
</section>