<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/6d2725c6-b482-4c4b-b2bb-aaf2d1ab74f0/resourceGroups/manero_group/providers/Microsoft.Web/sites/manero</ResourceId>
    <ResourceGroup>manero_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://manero.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>aec10b46-f0f0-4f6a-bc53-9324503a9494</ProjectGuid>
    <PublishUrl>https://manero.scm.azurewebsites.net/</PublishUrl>
    <UserName>$manero</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>