

<form method="post" asp-controller="Categories" asp-action="Index" class="search-input second-navbar" novalidate>
    <div class="search-button"><i class="fa-light fa-magnifying-glass"></i></div>
    <input  type="text" class="input" placeholder="Search">
</form>