@model Manero.ViewModels.SearchNavbarViewModel



<form method="post" asp-controller="Categories" asp-action="Index" class="search-input second-navbar" novalidate>
    <button class="search-button"><i class="fa-light fa-magnifying-glass"></i></button>
    <input asp-for="SearchInput" type="text" class="input" placeholder="Search">
</form>

