button {
    background-color: var(--color-theme-black);
    color: var(--color-white);
    border: none;
    padding: 0.95rem;
    width: 100%;
    border-radius: 5rem;
    font-size: 0.875rem;
    font-weight: var(--semibold-font);
}