@import url('site.css');
@import url('buttons.css');





.order-confirmation {
    font-family: var(--font-mulish);
}

.order-confirmation a {
    color: var(--color-theme-black);
    text-decoration: none;
}
    .order-confirmation a > div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }


.order-confirmation .container {
    padding: 0;
}

.order-confirmation .frame {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2rem;
}

.order-confirmation .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


    .order-confirmation .presentation .outer-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 200px;
        width: 200px;
    }
        .order-confirmation .presentation .outline-succeeded {
            border: 4px solid #00824B; 
        }
        .order-confirmation .presentation .outline-failed {
            border: 4px solid #F4303C; 
        }


    .order-confirmation .presentation .inner-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: var(--color-theme);
        border: 6px solid #FFFFFF;
        border-radius: 50%;
        height: 186px;
        width: 186px;

        
    }
        .order-confirmation .presentation .inner-frame .frame-icon {
            border-radius: 50%;
            height: 40px;
            width: 40px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .order-confirmation .presentation .inner-frame .frame-icon i {
            font-size: 50pt;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
            .order-confirmation .presentation .inner-frame .icon-succeeded {
                color: #00824B;
            }    
            .order-confirmation .presentation .inner-frame .icon-failed {
                color: #F4303C;
            }    

    .order-confirmation .presentation .line-container {
        height: 30px;
        width: 100%;
        margin: 1.5rem 0 1rem 0;
    }
        .order-confirmation .presentation .line-container :first-child {
            height: 100%;
            width: 50%;
            border-right: 1px solid var(--color-theme-black);
        }


    .order-confirmation .presentation h5 {
        color: var(--color-theme-black);
        font-weight: var(--bold-font);
        font-size: 2rem;
    }
    .order-confirmation .presentation h6 {
        color: var(--color-text-gray);
        font-weight: var(--regular-font);
        font-size: 1rem;
        margin-bottom: 2.5rem;
    }


