@model Manero.ViewModels.UserProfileViewModel



<div class="flex-item-left">
    <div class="black-circle"><i class="fa-regular fa-location-dot fa-xl"></i></div>
    <div class="info">
        <h5>@Model.AddressCategory</h5>
        <span>@Model.StreetNumber</span><span> @Model.StreetName,</span><span> @Model.City</span>
    </div>
    <div class="pancel">
        <i class="fa-thin fa-pencil"></i>
    </div>
</div>
<hr/>