@model Manero.ViewModels.AddressViewModel



<div class="flex-item-left">
    <div class="black-circle"><i class="fa-regular fa-location-dot fa-xl"></i></div>
    <div class="info">
        <h5>@Model.Title</h5>
        <span>@Model.Address </span>
    </div>
    <div class="pancel">
        <i class="fa-thin fa-pencil"></i>
    </div>
</div>
<hr/>